  <div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="btn-group" role="group" aria-label="Basic example">
    <div class="row">
      <div class="col-md-4"> 
        <a routerLink="/"><button type="button" class="btn btn-secondary">Home</button></a>
      </div>
      <div class="col-md-4">       
        <a routerLink="/about"><button type="button" class="btn btn-secondary">About</button></a>
      </div>
      <div class="col-md-4"> 
         <a routerLink="/d3"><button type="button" class="btn btn-secondary">D3</button></a>
      </div>            
    </div>
</div>
    <div class="col-xl-5">
      <h1 class="page-header">Teradata System Dashboard</h1>
    </div>
    <div class="col-xl-7">
      <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a routerLink="/d3"><i class="fa fa-fw fa-bar-chart-o"></i>Teradata Monitoring</a></li>
      </ol>
    </div>
  </div>
  <hr />
