<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Hello {{name}}</h1>
<p>Email: {{email}}</p>
<p> {{address.street}} {{address.city}} {{address.kanton}}</p>


<h3>New database Requested</h3>
<div class="btn-group">
<button class="btn btn-success btn-block" (click)="toggleRWDdb()">{{showRWDdb ? "hide":"Show"}}</button>
</div>
<div *ngIf="showRWDdb">
<h3> RWD Databases</h3>
<ul>
<div class="btn-group">
  <li class="h4" *ngFor="let db of RWDdb; let i=index">
    {{db}} <button class="btn btn-primary btn-sm fa fa-pencil-square-o"(click)="deleteRWD(i)" title="Edit"></button>
  </li>
  </div>
</ul>
<form (submit)="addRWD(db.value)">
<label>Add Database: </label><br />
<input type="text" #db /><br />
</form>

</div>

<h3>Edit user details</h3>
<form>
  <label><strong>Name:</strong></label>
  <input type="text" name="name" [(ngModel)]="name" /><br />
  <label>Email: </label>
  <input type="text" name="email" [(ngModel)]="email" /><br />
  <label>Street: </label>
  <input type="text" name="address.street" [(ngModel)]="address.street" /><br />
  <label>City: </label>
  <input type="text" name="address.city" [(ngModel)]="address.city" /><br />
  <label>Kanton: </label>
  <input type="text" name="address.Kanton" [(ngModel)]="address.kanton" /><br />
  </form>
  <hr>
  <h3>Posts functionality</h3>
  <div *ngFor ="let post of posts">
    <h3>{{post.title}}</h3>
    <i class="fa fa-bath" aria-hidden="true"></i>
    <p>{{post.body}}</p>
  </div>
